.arena-players {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.arena-player,
.arena-monster {
  background-color: #9b9b9b;
  padding: 1rem;
  border-radius: 0.75rem;
  width: 45%;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
